<p id="notice"></p>
<div class="container">
  <div class="row">
    <%= render "users/user", user: @user, book: @book %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image(100,100) %></br>
              <%= link_to current_user.name, user_path(current_user.id) %>
            </td>
            <td>
              <%= @book.title %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path, method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






