<p id="notice"></p>
<div class="container">
  <div class="row">
    <%= render "users/user", user: @user, book: @book_new %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to image_tag @book.user.get_profile_image(100,100) %></br>
              <%= link_to @user.name, user_path(@user.id) %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book.id), data:{"turbolinks" => false} %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <div class="star-group">
                <div class="detail-rating", id="book-rat-<%= @book.id %>"></div>
                <div class="eval-star"><%= @book.star %>/5点</div>
                <%= render "raty2", book: @book %>
              </div>
            </td>
              <div class="comment_container">
                <h3>コメント件数: <%= @book.book_comments.count %></h3>
              <table>
                <% @book_comments.each do |book_comment| %>
                <tr><td><%= book_comment.user.name %></td></tr>
                <tr><th><%= book_comment.created_at.strftime("%Y/%m/%d") %></th></tr>
                <tr><th><%= book_comment.comment %></th></tr>
                <% end %>
                </tr>
              </div>
              <div>
                <%= form_with model: [@book, @comment] do |f| %>
                  <%= f.text_area :comment, rows: "5", placeholder: "コメントをここに" %></br>
                  <%= f.submit "コメントする" %>
                <% end %>
              </div>
            </td>
            <td>
              <% if @user.id == current_user.id %>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path, method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>






