<p class="in-size-4 mb-3">レビューを書く</p>

<div class="rating-box mt-3">
 <%= form_with model: review, url: book_review_path(book), local: true do |f| %>
 <div class="main-raiting">
  <div class="raitings mb-3">
   <span class="fa fa-star-o" id="star"></span>
   <span class="fa fa-star-o" id="star"></span>
   <span class="fa fa-star-o" id="star"></span>
   <span class="fa fa-star-o" id="star"></span>
   <span class="fa fa-star-o" id="star"></span>
  </div>
  <div class="ml-3 raiting-value-display"><span id="raiting-value-display">0</span>/5</div>
 </div>
 <%= f.hidden_field :book_id, value: book.id %>
 <%= f.hidden_field :score, id: "raiting-value" %>
 <%= f.text_field :content, class: "textarea" %>
 <%= f.submit "保存", class: "button mt-3" %>
 <%= link_to "他のレビューを見る", book_review_path(book), class: "button light ml-3 mt-3" %>
 <% end %>
</div>